* {
  margin: 0;
  padding: 0;
}
/* tablet */
@media (min-width: 600px) and (max-width: 991px) {
  header {
    background-color: #aed6f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 25px;
  }

  .logo__empresa {
    height: 90px;
    width: 90px;
    padding: 1%;
  }

  .header__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: end;
    gap: 15px;
    list-style: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  header a {
    color: beige;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .img__main {
    width: 450px;
    height: 350px;
    padding: 70px;
    border-radius: 25%;
  }
  .main__header {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 69%
    );
    color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
  }
  .main__header__title {
    font-size: 35px;
    padding: 40px;
    margin-left: 20px;
  }
  .main__header__paragraph {
    text-align: center;
    font-size: 25px;
  }
  .footer {
    background-color: #aed6f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 200px;
  }
  footer a {
    color: beige;
    font-size: 16px;
    text-decoration: none;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    list-style: none;
    width: 600px;
    justify-items: center;
    padding: 10px;
  }
  .instagram {
    bottom: 10px;
    position: fixed;
    right: 40px;
    width: 70px;
  }
  .main__pilares {
    background: rgb(174, 214, 241);
    background: linear-gradient(
      322deg,
      rgba(174, 214, 241, 0.6730042358740371) 0%,
      rgba(124, 178, 226, 1) 38%,
      rgba(43, 102, 139, 1) 67%
    );
    color: beige;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 40px;
  }
  .main__pilares__titulo {
    padding: 1px;
    text-align: center;
  }
  .main__pilares__video {
    width: 500px;
    height: 315px;
  }
}

/* smartphone */
@media (max-width: 599px) {
  header {
    background-color: #aed6f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150px;
    font-size: 25px;
  }

  .logo__empresa {
    height: 70px;
    width: 80px;
    padding: 1%;
  }

  .header__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: end;
    gap: 15px;
    list-style: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  header a {
    color: beige;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .img__main {
    width: 450px;
    height: 350px;
    padding: 70px;
    border-radius: 25%;
  }
  .main__header {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 69%
    );
    color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    justify-content: center;
    width: 120%;
    height: 700px;
  }
  .main__header__title {
    font-size: 35px;
    padding: 40px;
    margin-left: 20px;
  }
  .main__header__paragraph {
    text-align: center;
    font-size: 25px;
  }
  .footer {
    background-color: #aed6f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 120%;
    height: 200px;
  }
  footer a {
    color: beige;
    font-size: 16px;
    text-decoration: none;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    list-style: none;
    width: 600px;
    justify-items: center;
    padding: 10px;
  }
  .instagram {
    bottom: 10px;
    position: fixed;
    right: 40px;
    width: 70px;
  }
  .main__pilares {
    background: rgb(174, 214, 241);
    background: linear-gradient(
      322deg,
      rgba(174, 214, 241, 0.6730042358740371) 0%,
      rgba(124, 178, 226, 1) 38%,
      rgba(43, 102, 139, 1) 67%
    );
    color: beige;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 40px;
  }
  .main__pilares__titulo {
    padding: 1px;
    text-align: center;
  }
  .main__pilares__video {
    width: 500px;
    height: 315px;
  }
}

/* desktop */
@media (min-width: 992px) {
  /* index */
  .navbar__background {
    background-color: white;
    font-size: 20px;
  }
  .logo__empresa {
    height: 100px;
    width: 130px;
  }
  .main__header__title {
    margin-top: 170px;
    font-family:'Roboto Mono', monospace;
    color: white;
    font-size: 60px; 
  }
    .main__header__paragraph {
    color: white;
    font-size: 30px;
    padding: 7px 0;
    font-family:'Roboto Mono', monospace;
  }
  /* sobre nosotros */
  .nuestros_pilares{
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 70px; 
    font-family:'Roboto Mono', monospace;
    font-size: 40px;   
    }
    .pilares_texto:hover{
    transform: scale(1.2);
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    
    }
    .main_video{
      margin-left: 30%;
      margin-top: 100px;
      }
      
    .flor_loto{
      width: 200px;
      height: 200px;
    }

    /* staff */
    .main_staff{
      padding-top: 40px;
      margin-top: 100px;
      margin-left: 100px;
    font-family:'Roboto Mono', monospace;
    font-size: 40px; 
    }
  .imagenes_staff{
    width: 350px;
    height: 300px;
    margin-left: 35px;
    margin-top: 25px;
    border-radius: 8px;
    }
  
  /* nuestros trabajos */
  .trabajos_titulo{
    font-family:'Roboto Mono', monospace;
    margin-top: 40px;
    padding-top: 40px;    
    margin-left: 50px;    
    font-size: 40px;
  }
  .tratamientos{
    font-size:'Roboto Mono', monospace ;
  }
.icono_yoga{
  width: 90px;
  height: 80px;
  }
   /* contacto */
 .background{
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
 }
  .section-header{
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 150px;
    margin-left: 70px;    
  }
 
  .main__contacto {
    background: rgb(174, 214, 241);
    background: linear-gradient(
      322deg,
      rgba(174, 214, 241, 0.6730042358740371) 0%,
      rgba(124, 178, 226, 1) 38%,
      rgba(43, 102, 139, 1) 67%
    );
    color: beige;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 200px 90px;
    display: grid;
    grid-template-areas:
      "title title1"
      "ca01 ca02";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr, 1fr;
  }
 
  
  .main__contacto__escribinos {
    grid-area: ca01;
    padding: 60px;
  }
  .main__contacto__redes {
    grid-area: ca02;
    padding: 60px;
  }
  /* fin de contacto */
  /* footer */
  .footer {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
  }

  .instagram {
    bottom: 10px;
    position: fixed;
    right: 40px;
    width: 70px;
  }