// Dispositivos grandes (escritorios, 992px y más)
@media (min-width: 992px) {
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-left: 10px;
  }
  .contacto_redes {
    margin-left: 50px;
  }
  .main__conatcto{
    width: 90%;
  }
}

// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) {
  .contacto_redes {
    margin-left: 50px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-left: 20px;
    }
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) {
  .contacto_redes {
    margin-left: 50px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
     }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .contacto_redes {
    margin-left: 50px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    
  }   
}
