// Dispositivos grandes (escritorios, 992px y más)
@media (min-width: 992px) {
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-left: 10px;
  }
  .felx__container {
    display: flex;
    flex-direction: row;
    text-align: center;   
  }
  .felx__container div{
    margin: 60px;
    text-align: center;
    font-size: 20px;
  }
 
  .main__conatcto{
    width: 90%;
    list-style-type: none;
    text-decoration: none;
  }
}

// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) {
  .felx__container {
    display: flex;
    flex-direction: row;
    text-align: center;   
  }
  .felx__container div{
    margin: 27px;
    text-align: center;
    font-size: 15px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-left: 20px;
    }
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) {
  .contacto_redes {
    margin-left: 50px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
     }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .contacto_redes {
    margin-left: 50px;
  }
  .titulo_contacto{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;    
  }   
  .felx__container {
    display: flex;
    flex-direction: row;
    text-align: center;   
  }
  .felx__container div{
    margin: 27px;
    text-align: center;
    font-size: 13px;
  }
}
