// Dispositivos grandes (escritorios, 992px y más)

@media (min-width: 992px) {
    .navbar__background {
        background-color: white;
    }

    .nav-item {
        font-size: 20px;
    }

    .logo__empresa {
        height: 100px;
        width: 130px;
    }
    .conteiner__2 {
        text-align: center;
        width: 95%;
        &__img{
            width:50px;
            height:50px;
            margin-top: 20px;
        }
    }
    .conteiner__main {
        width: 95%;
        margin-top: 90px;
        text-align: center;
        &__p {
            font-size: 25px;
            color: $primary;
            top: 60%;
            left: 50%;
        }
        &__titulo {
            font-size: 70px;
            margin-top:10px;
            color: $primary;
            padding-top: 1px;
            }
        &__jacuzzi {
            margin-top: 30px;
            text-align:center;
        }
        &__info {
            width: 97%;
            margin-bottom: 20px;
            color:$primary;
        }
        &__pie {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .footer {
            background-color: white;
        }
    }
}

// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) {
    .navbar__background {
        background-color: white;
    }

    .nav-item {
        font-size: 15px;
    }

    .logo__empresa {
        height: 140px;
        width: 180px;
    }

    .conteiner__main {
        width: 100%;
        height: 150px;
        position: relative;
        margin: 20px auto;
        margin-top: 80px;

        &__p {
            font-size: 20px;
            color: $primary;
            text-align: center;
            margin-top: 20px;
        }

        &__titulo {
            font-size: 70px;
            margin-top: 200px;
            margin-bottom: 10px;
            color: white;
            position: relative;
            text-align: center;
            left: 50%;
            font-weight: bolder;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1);
        }

        &__jacuzzi {
            margin-left: 50px;
            margin-top: 80px;
            margin-bottom: 10px;
        }

        &__info {
            width: 97%;
            margin-bottom: 20px;
            color:$primary;
        }

        &__pie {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .footer {
        background-color: white;
    }
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) {
    .navbar__background {
        background-color: white;
        &__item {
        font-size: 15px;
        }
    }
    .conteiner__2 {
        text-align: center;
        width: 95%;
        &__img{
            width:50px;
            height:50px;
            margin-top: 20px;
        }
    }
    .logo__empresa {
        height: 100px;
        width: 130px;
    }
    .conteiner__main {
        width: 100%;
        height: 100%;
        margin-top: 90px;
        
        &__p {
            font-size: 25px;
            color: $primary;
            top: 70%;
            left: 50%;
        }
        &__titulo {
            font-size: 70px;
            color: white;
            margin-top: 180px;
            margin-bottom: 10px;
        }
        &__jacuzzi {
            margin-left: 30px;
            margin-top: 30px;
        }
        &__info {
            width: 97%;
            margin-bottom: 20px;
            color:$primary;
        }

        &__pie {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .footer {
        background-color: white;
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar__background {
        background-color: white;
    }

    .nav-item {
        font-size: 15px;
    }

    .logo__empresa {
        height: 100px;
        width: 130px;
    }

    .conteiner__main {
        width: 95%;
        position: relative;
        margin: 20px auto;
        margin-top: 80px;
        text-align: center;

        &__p {
            font-size: 20px;
            color:$primary;
            text-align: center;
            margin-top: 20px;
        }


        &__titulo {
            font-weight: bolder;
            font-size: 3rem;
            margin-top: 180px;
            position: relative;
            text-align: center;
            color: white;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1);
        }

        &__jacuzzi {
            margin-left: 50px;
            margin-top: 100px;
            margin-bottom: 10px;
            text-align: center;
            max-width: 90%;
        }

        &__info {
            width: 97%;
            margin-bottom: 20px;
            color:$primary;
        }

        &__pie {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .footer {
        background-color: white;
    }
    .conteiner__2 {
        text-align: center;    
        &__img{
            width:50px;
            height:50px;
            margin-top: 20px;
            text-align: center;
        }
        &__img__big{
            width: 95%;
            text-align: center;
            margin-bottom:10px;

        }
    }
}