// Dispositivos grandes (escritorios, 992px y más)

@media (min-width: 992px) {
.navbar__background {
background-color: white;
}
.nav-item{
font-size: 15px;
}
.logo__empresa {
height: 100px;
width: 130px;
}
.conteiner_main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 150px;
}
.conteiner_main img{
    width: 100%;
    height: 100%;
}
.conteiner_main h1{
    font-weight: bolder;
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
}
.conteiner_main p {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
    }
/* footer */
.footer{
    background-color: white;
}
}
// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) {
.navbar__background {
background-color: white;
}
.nav-item{
font-size: 15px;
}
.logo__empresa {
height: 140px;
width: 180px;
}
.conteiner_main{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    margin-top: 180px;
}
.conteiner_main img{
    width: 100%;
    height: 100%;
}
.conteiner_main h1{
    font-weight: bolder;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
    }
.conteiner_main p {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
}


/* footer */
.footer{
background-color: white;
font-family: 'Roboto Mono', monospace;
}
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) { 
.navbar__background {
background-color: white;
}
.nav-item{
font-size: 15px;
}
.logo__empresa {
height: 100px;
width: 130px;
}
.conteiner_main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    margin-top: 180px;
}
.conteiner_main img{
    width: 100%;
    height: 90%;
}
.conteiner_main h1{
    font-weight: bolder;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
    }
.conteiner_main p {
    font-size: 2rem;
    color: white;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
}
.img_index{
margin-left: 10px;
}
.footer{
background-color: white;
}
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar__background {
    background-color: white;
    }
    .nav-item{
    font-size: 15px;
    }
    .logo__empresa {
    height: 100px;
    width: 130px;
    }
    .conteiner_main{
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        margin: 20px auto;
        margin-top: 180px;
    }
    .conteiner_main img{
        width: 100%;
        height: 100%;
    }
    .conteiner_main h1{
        font-weight: bolder;
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
        }
    .conteiner_main p {
        font-size: 2rem;
        color: white;
        position: absolute;
        font-weight: bolder;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba($color: #000000, $alpha: 1.0)
    }
    .footer{
    background-color: white;
    }
    } 



