// Dispositivos grandes (escritorios, 992px y más)
@media (min-width: 992px) {
.trabajos_titulo{
font-family:'Roboto Mono', monospace;
margin-top: 40px;
padding-top: 40px;    
margin-left: 50px;    
font-size: 40px;
font-weight: bolder;
}
.tratamientos{
font-size:'Roboto Mono', monospace;
}
.icono_yoga{
width: 90px;
height: 80px;
}
}
// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) { 
.trabajos_titulo{
font-family:'Roboto Mono', monospace;
margin-top: 80px;
padding-top: 90px;    
margin-left: 50px;    
font-size: 30px;
font-weight: bolder;
}
.tratamientos{
font-size:'Roboto Mono', monospace;
}
.icono_yoga{
width: 90px;
height: 80px;
}
.carousel-inner{
width: 80%;
margin-left: 10%;
}
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) { 
.trabajos_titulo{
font-family:'Roboto Mono', monospace;
margin-top: 40px;
padding-top: 40px;    
margin-left: 50px;    
font-size: 40px;
font-weight: bolder;
}
.tratamientos{
font-size:'Roboto Mono', monospace;
}
.icono_yoga{
width: 90px;
height: 80px;
}
.carousel-inner{
width: 80%;
margin-left: 10%;
margin-top: 5px;
}
.lead{
    font-size: 17px;
    }
.dia_spa{
    color: palevioletred;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){ 
.trabajos_titulo{
margin-top: 40px;
padding-top: 40px;    
margin-left: 50px;    
font-size: 40px;
font-weight: bolder;
}
.icono_yoga{
width: 50px;
height: 50px;
}
.carousel-inner {
width: 100%;
height: 50%;
}
}
