// Dispositivos grandes (escritorios, 992px y más)
@media (min-width: 992px) {
  .main__nuestros__pilares {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 10px; 
    font-family:'Roboto Mono', monospace;
    font-size: 50px;
    margin-left:10px;
    }
    .titulo_pilares{
      font-weight: bolder;
    }
  .conteiner__2 {
    text-align: center;
    &__img{
        width:50px;
        height:50px;
        margin-top: 20px;}
    &__img__big{
      width:450px;
      height:300px;
    }
}
  .flor_loto{
    width: 200px;
    height: 200px;
  }
}
// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) {
  .main__nuestros__pilares{
    margin-top: 200px;
    }
  .flor_loto {
    width: 200px;
    height: 200px;
  }
  }
  
// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) {
  .main__nuestros__pilares {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 20px;
    font-size: 20px;
    margin-left:10px;
    width: 97%;
    &__titulo{
    font-weight: bolder;
    }
  }
    
  .flor_loto {
    width: 200px;
    height: 200px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .main__nuestros__pilares {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 20px;
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .flor_loto{
    width: 150px;
  }
  .conteiner__2 {
    text-align: center;
    width: 95%;
    &__img{
        width:50px;
        height:50px;
        margin-top: 20px;
    }
}
}
