@media (min-width: 992px) { 
.main_staff{
padding-top: 100px;
margin-top: 13%;
padding-bottom: 50px;
margin-left: 100px;
font-family:'Roboto Mono', monospace;
font-size: 40px; 
font-weight: bolder;
}
.img-fluid{
width: 90%;
height: 300px;
margin-left: 5%;
margin-top: 25px;
border-radius: 8px;
position: center;
}
}
// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) { 
.main__staff{
padding-top: 100px;
margin-top: 100px;
margin-left: 100px;
font-family:'Roboto Mono', monospace;
font-size: 40px; 
font-weight: bolder;
}
.imagenes_staff{
width: 350px;
height: 300px;
margin-left: 35px;
margin-top: 25px;
border-radius: 8px;
}
.conteiner__staff{
    &__info {
    width: 97%;
    margin-bottom: 20px;
}
&__pie {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
} 
}
.promociones__staff{
    text-align: center;
    width: 97%;
    margin-left: 20px;
    &__titulo{
        text-align: center;    
        color: palevioletred; 
        margin-top: 30px;  
        margin-bottom: 30px;
    }
}
.img-fluid{
    width: 300px;
    height: 200px;
}
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) { 
.main__staff{
padding-top: 40px;
margin-top: 100px;
margin-left: 100px;
font-family:'Roboto Mono', monospace;
font-size: 40px; 
font-weight: bolder;
}
.promociones__staff{
    text-align: center;
    width: 97%;
    margin-left: 30px;
    &__titulo{
        text-align: center;    
        color: palevioletred; 
        margin-top: 30px;  
        margin-bottom: 30px;
    }
}
.conteiner__staff{
    &__info {
      width: 97%;
      margin-bottom: 20px;
  }
  &__pie {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
  } 
  }
  
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
.main__staff{
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 40px; 
    font-weight: bolder;
    }  
.img-fluid{
    width: 70%;
    height: 50%;
    margin-left: 20%;
    position: center;
    margin-top: 10px;
    }
    .conteiner__staff{
        &__info {
        width: 97%;
        margin-bottom: 20px;
    }
    &__pie {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    } 
    }
    .promociones__staff{
        text-align: center;
        width: 97%;
        margin-left: 20px;
        &__titulo{
            text-align: center;    
            color: palevioletred; 
            margin-top: 30px;  
            margin-bottom: 30px;
        }
    }
 }