@media (min-width: 992px) { 
.img-fluid{
width: 100%;
margin-left: 5%;
margin-top: 25px;
margin-bottom: 10px;
position: center;
text-align: center;
}
.main__staff{
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 100px;
    font-family:'Roboto Mono', monospace;
    font-size: 40px; 
    font-weight: bolder;
    }
.conteiner__2 {
    text-align: center;
    margin-top: 10px;
    &__img{
        width:50px;
        height:50px;
        margin-top: 20px;}
        &__big{
            width:400px;
            height:300px;
        }
    }
}
// Dispositivos pequeños (teléfonos horizontales, 576px y más)
@media (min-width: 576px) { 
.main__staff{
padding-top: 100px;
margin-top: 100px;
margin-left: 100px;
font-family:'Roboto Mono', monospace;
font-size: 40px; 
font-weight: bolder;
}

.img-fluid{
    width: 300px;
    height: 200px;
}
}

// Dispositivos medianos (tabletas, 768px y más)
@media (min-width: 768px) { 
.main__staff{
padding-top: 40px;
margin-top: 100px;
margin-left: 100px;
font-size: 40px; 
width: 95%;
}
.conteiner__2 {
    text-align: center;
    margin-top: 10px;
    &__img{
        width:50px;
        height:50px;
        margin-top: 20px;}
        &__big{
            width:300px;
        }
    }

}  

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
.main__staff{
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 40px; 
    font-weight: bolder;
    }  
.img-fluid{
    width: 70%;
    height: 50%;
    margin-left: 20%;
    position: center;
    margin-top: 10px;
    }
}